.friendListItem p {
    margin: 0;
}

.offline {
    color: red;
}
.online {
    color: green;
}
.name {
    font-size: 24px;
    margin: 10px 0 !important;
}
.image {
}

.friendListItem {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 80px;
}
